.navbar-collapse{
    flex-grow: 0;
}

.navbar-dark{
    background-color: #2c3e50;
}

.heading-section,
.about-section,
.form-btn{
    background-color: #1abc9c;
    color: white;
}

.avatar{
    width: 250px;
    height: 250px;
}
  
.line{
    border-top: 3px solid white;
    width: 20%;
}
  
.black-line{
    border-top: 3px solid black;
    width: 20%;
}

.social{
    width: 50px;
    height: 50px;
}

